* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f4f4f4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #0047ab;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

nav {
  background-color: #0047ab; 
  color: #fff;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: center;
}

nav ul li {
  padding: 1rem;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

main {
  flex: 1;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

p {
  margin-bottom: 15px;
  line-height: 1.6;
}

footer {
  background-color: #0047ab; /* Cambiado a azul */
  color: #fff;
  text-align: center;
  padding: 1rem;
  margin-top: auto;
}